body{
    background-image: url('../../../static/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding: 0;
    font-family: 'Kelly Slab', cursive;

    ul, li{
        padding: 0;
        margin:0;
        display: block;
    }

    .room{
        background-color: #cccccc;
        display: flex;
        height: 100vh;
        max-width:1024px;
        max-height: 720px;
        margin:auto;
        margin-top:15px;
        overflow: hidden;
        box-shadow: 1px 3px 7px;

        &__list-rooms{
            width: 250px;
            overflow-y: auto;
            background-color: #7e869e;

            .rooms{

                &__item{
                    text-align: center;
                    padding: 10px 30px;
                    cursor:pointer;
                    transition: background .3s;

                    &:hover{
                        background-color:#9094a3;
                        transition: background .3s;
                    }
                }
            }
        }

        .chat{
            width:100%;
            height:720px;
            &__header{
                width:100%;
                background-color:#707c83;

                .header{
                    display: flex;
                    padding-top:8px;
                    height: 51px;
                    padding-bottom: 11px;
                    text-align: center;

                    .cell-logout{
                        padding-top:18px;
                        padding-right: 15px;
                        cursor: pointer;
                        transition: color .3s;

                        &:hover{
                            transition: color .3s;
                            color: #fff;
                        }
                    }

                    .cell-main{
                        flex:1;
                    }

                    &__row{
                        display: flex;
                        justify-content: center;
                    }

                    .finder{
                        position: relative;

                        &__input{
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid;
                            margin-right: 10px;
                            outline: none;
                        }

                        &__button{
                            border: 1px solid #000;
                            border-radius: 5px;
                            padding: 5px 10px;
                            text-decoration: none;
                            color: #000;
                            transition: all .3s;
                            font-size: 12px;

                            &:hover{
                                border: 1px solid #fff;
                                color: #fff;
                                transition: all .3s;
                            }

                        }

                        &__users{
                            position: absolute;
                            width: 160px;
                            background-color: #fff;
                        }

                        &__user{
                            cursor:pointer;
                            background-color: #e6e6e6;
                            transition: background .3s;

                            &:hover{
                                transition: background .3s;
                                background-color:#cacaca;
                            }
                        }
                    }

                    &__title{
                        display: inline;
                        margin: 0;
                        cursor: pointer;
                        margin-right: 10px;
                    }
                }
            }

            &__messages{
                background-image: url('../../../static/img/message.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                // background-color:#adadad;
                width:100%;
                height:600px;

                .messages{
                    width:100%;
                    height: 600px;
                    overflow-y: auto;

                    &__row{
                        display: flex;
                        margin: 8px;
                        background-color: #ffffffe1;
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
                        border-radius: 7px;
                    }

                    .message-owner{
                        justify-content: flex-end;
                    }

                    .message{
                        padding:6px;

                        border-radius: 10px;
                        border-bottom-left-radius: 0;
                        background-color: transparent;

                        &__header{
                            display: flex;
                        }

                        &__owner{
                            padding: 5px; 
                            margin:0;
                        }

                        &__time{
                            padding: 5px;
                            margin:0;
                            font-size: 12px;
                            padding-top: 9px;
                        }

                        &__text{
                            padding:5px;
                            margin:0;
                        }
                    }
                }
            }

            &__send{
                background-color:#909fa8;
                width:100%;
                height:50px;

                .send{
                    padding: 15px;
                    display: flex;

                    &__text{
                        background-color: transparent;
                        border: none;
                        border-bottom: 1px solid;
                        margin-right: 20px;
                        width: 90%;
                        outline: none;
                        padding-left: 5px;
                    }
    
                    &__btn{
                        border: 1px solid #000;
                        border-radius: 5px;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #000;
                        transition: all .3s;

                        &:hover{
                            border: 1px solid #fff;
                            color: #fff;
                            transition: all .3s;
                        }
                    }
                }
            }
        }
    }

    .settings{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #00000048;

        &__key{
            background-color: #fff;
            margin:auto;
            margin-top:250px;
            width: 450px;
            border-radius: 5px;
            box-shadow: 0px 2px 5px;
        }

        &__room{
            background-color: #fff;
            margin:auto;
            margin-top:250px;
            width: 450px;
            border-radius: 5px;
            box-shadow: 0px 2px 5px;
        }

        &__row{
            display: flex;
            justify-content: center;
        }

        .row-up{
            justify-content: flex-end;
            padding-right: 10px;

            .close{ cursor: pointer; }
        }

        &__input{
            width: 80%;
            font-size: 19px;
            padding-left:5px;
            margin-top:10px;
            outline: none;
            border: none;
            border-bottom: 1px solid #000;
            margin:10px;
        }

        &__button{
            padding: 5px 10px;
            font-size: 19px;
            border:1px solid #000;
            border-radius:5px;
            background-color: #fff;
            outline: none;
            cursor: pointer;
            margin:10px;
            
        }
    }
}