body {
  background-image: url("../../../static/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Kelly Slab', cursive; }
  body ul, body li {
    padding: 0;
    margin: 0;
    display: block; }
  body .room {
    background-color: #cccccc;
    display: flex;
    height: 100vh;
    max-width: 1024px;
    max-height: 720px;
    margin: auto;
    margin-top: 15px;
    overflow: hidden;
    box-shadow: 1px 3px 7px; }
    body .room__list-rooms {
      width: 250px;
      overflow-y: auto;
      background-color: #7e869e; }
      body .room__list-rooms .rooms__item {
        text-align: center;
        padding: 10px 30px;
        cursor: pointer;
        transition: background .3s; }
        body .room__list-rooms .rooms__item:hover {
          background-color: #9094a3;
          transition: background .3s; }
    body .room .chat {
      width: 100%;
      height: 720px; }
      body .room .chat__header {
        width: 100%;
        background-color: #707c83; }
        body .room .chat__header .header {
          display: flex;
          padding-top: 8px;
          height: 51px;
          padding-bottom: 11px;
          text-align: center; }
          body .room .chat__header .header .cell-logout {
            padding-top: 18px;
            padding-right: 15px;
            cursor: pointer;
            transition: color .3s; }
            body .room .chat__header .header .cell-logout:hover {
              transition: color .3s;
              color: #fff; }
          body .room .chat__header .header .cell-main {
            flex: 1; }
          body .room .chat__header .header__row {
            display: flex;
            justify-content: center; }
          body .room .chat__header .header .finder {
            position: relative; }
            body .room .chat__header .header .finder__input {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid;
              margin-right: 10px;
              outline: none; }
            body .room .chat__header .header .finder__button {
              border: 1px solid #000;
              border-radius: 5px;
              padding: 5px 10px;
              text-decoration: none;
              color: #000;
              transition: all .3s;
              font-size: 12px; }
              body .room .chat__header .header .finder__button:hover {
                border: 1px solid #fff;
                color: #fff;
                transition: all .3s; }
            body .room .chat__header .header .finder__users {
              position: absolute;
              width: 160px;
              background-color: #fff; }
            body .room .chat__header .header .finder__user {
              cursor: pointer;
              background-color: #e6e6e6;
              transition: background .3s; }
              body .room .chat__header .header .finder__user:hover {
                transition: background .3s;
                background-color: #cacaca; }
          body .room .chat__header .header__title {
            display: inline;
            margin: 0;
            cursor: pointer;
            margin-right: 10px; }
      body .room .chat__messages {
        background-image: url("../../../static/img/message.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 600px; }
        body .room .chat__messages .messages {
          width: 100%;
          height: 600px;
          overflow-y: auto; }
          body .room .chat__messages .messages__row {
            display: flex;
            margin: 8px;
            background-color: #ffffffe1;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
            border-radius: 7px; }
          body .room .chat__messages .messages .message-owner {
            justify-content: flex-end; }
          body .room .chat__messages .messages .message {
            padding: 6px;
            border-radius: 10px;
            border-bottom-left-radius: 0;
            background-color: transparent; }
            body .room .chat__messages .messages .message__header {
              display: flex; }
            body .room .chat__messages .messages .message__owner {
              padding: 5px;
              margin: 0; }
            body .room .chat__messages .messages .message__time {
              padding: 5px;
              margin: 0;
              font-size: 12px;
              padding-top: 9px; }
            body .room .chat__messages .messages .message__text {
              padding: 5px;
              margin: 0; }
      body .room .chat__send {
        background-color: #909fa8;
        width: 100%;
        height: 50px; }
        body .room .chat__send .send {
          padding: 15px;
          display: flex; }
          body .room .chat__send .send__text {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid;
            margin-right: 20px;
            width: 90%;
            outline: none;
            padding-left: 5px; }
          body .room .chat__send .send__btn {
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5px 10px;
            text-decoration: none;
            color: #000;
            transition: all .3s; }
            body .room .chat__send .send__btn:hover {
              border: 1px solid #fff;
              color: #fff;
              transition: all .3s; }
  body .settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000048; }
    body .settings__key {
      background-color: #fff;
      margin: auto;
      margin-top: 250px;
      width: 450px;
      border-radius: 5px;
      box-shadow: 0px 2px 5px; }
    body .settings__room {
      background-color: #fff;
      margin: auto;
      margin-top: 250px;
      width: 450px;
      border-radius: 5px;
      box-shadow: 0px 2px 5px; }
    body .settings__row {
      display: flex;
      justify-content: center; }
    body .settings .row-up {
      justify-content: flex-end;
      padding-right: 10px; }
      body .settings .row-up .close {
        cursor: pointer; }
    body .settings__input {
      width: 80%;
      font-size: 19px;
      padding-left: 5px;
      margin-top: 10px;
      outline: none;
      border: none;
      border-bottom: 1px solid #000;
      margin: 10px; }
    body .settings__button {
      padding: 5px 10px;
      font-size: 19px;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: #fff;
      outline: none;
      cursor: pointer;
      margin: 10px; }
