body {
  background-image: url("../../../static/img/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
  body .hide {
    display: none; }
  body .authorization {
    display: flex;
    height: 100vh; }
    body .authorization .content {
      font-family: 'Chakra Petch', sans-serif;
      text-align: center;
      color: #fff;
      flex-grow: 1; }
      body .authorization .content__title {
        margin-top: 60px;
        margin-bottom: 5px;
        font-size: 45px;
        font-weight: 300;
        letter-spacing: .1em; }
      body .authorization .content__logo img {
        width: 300px; }
      body .authorization .content__text {
        margin: auto;
        font-size: 19px;
        width: 300px; }
    body .authorization__forms {
      display: flex;
      height: 93vh;
      position: relative;
      text-align: center;
      padding-right: 60px;
      padding-left: 60px;
      margin-top: 20px;
      margin-bottom: 20px;
      border-left: 1px solid #DBDBDB;
      width: 280px; }
      body .authorization__forms .registration {
        position: absolute;
        right: 60px;
        color: #fff;
        margin-top: 120px; }
        body .authorization__forms .registration a {
          color: #fff;
          text-decoration: none; }
        body .authorization__forms .registration__title {
          font-family: 'Chakra Petch', sans-serif;
          font-weight: 300px;
          letter-spacing: .1em; }
        body .authorization__forms .registration .form__error {
          color: #d44848; }
        body .authorization__forms .registration__form {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          padding-left: 20px; }
          body .authorization__forms .registration__form .form__input {
            font-size: 19px;
            border: none;
            border-bottom: 1px solid #DBDBDB;
            background: transparent;
            padding-left: 5px;
            color: #fff;
            margin-bottom: 20px;
            outline: none; }
          body .authorization__forms .registration__form .input-btn {
            border: 1px solid #DBDBDB;
            border-radius: 3px;
            padding-left: 6px;
            transition: background .3s;
            margin-bottom: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            text-align: center; }
            body .authorization__forms .registration__form .input-btn:hover {
              background-color: #DBDBDB;
              transition: background .3s; }
      body .authorization__forms .login {
        position: absolute;
        right: 60px;
        color: #fff;
        margin-top: 160px; }
        body .authorization__forms .login a {
          color: #fff;
          text-decoration: none; }
        body .authorization__forms .login__title {
          font-family: 'Chakra Petch', sans-serif;
          font-weight: 300px;
          letter-spacing: .1em; }
        body .authorization__forms .login .form__error {
          color: #d44848; }
        body .authorization__forms .login__form {
          display: flex;
          flex-direction: column;
          padding-right: 20px;
          padding-left: 20px; }
          body .authorization__forms .login__form .form__input {
            font-size: 19px;
            border: none;
            border-bottom: 1px solid #DBDBDB;
            background: transparent;
            padding-left: 5px;
            color: #fff;
            margin-bottom: 20px;
            outline: none; }
          body .authorization__forms .login__form .input-btn {
            border: 1px solid #DBDBDB;
            border-radius: 3px;
            padding-left: 6px;
            transition: background .3s;
            margin-bottom: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer; }
            body .authorization__forms .login__form .input-btn:hover {
              background-color: #DBDBDB;
              transition: background .3s; }
  body .loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #00000080; }
    body .loading__text {
      margin-top: 35%;
      text-align: center;
      color: #fff; }
