body{
    background-image: url('../../../static/img/space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    .hide{ display: none }

    .authorization{
        display: flex;
        height: 100vh;
        .content{
            font-family: 'Chakra Petch', sans-serif;
            text-align: center;
            color:#fff;
            flex-grow: 1;

            &__title{
                margin-top:60px;
                margin-bottom:5px;
                font-size: 45px;
                font-weight: 300;
                letter-spacing: .1em;
            }

            &__logo{
                img{ width: 300px }
            }

            &__text{ 
                margin:auto;
                font-size: 19px;
                width:300px;
            }
        }

        &__forms{
            display: flex;
            height: 93vh;
            position: relative;
            text-align: center;
            padding-right: 60px;
            padding-left: 60px;
            margin-top:20px;
            margin-bottom:20px;
            border-left:1px solid #DBDBDB;
            width: 280px;

            .registration{
                position: absolute;
                right: 60px;
                color: #fff;
                margin-top: 120px;

                a{
                    color:#fff;
                    text-decoration: none;
                }

                &__title{
                    font-family: 'Chakra Petch', sans-serif;
                    font-weight: 300px;
                    letter-spacing: .1em
                }

                .form__error{
                    color: #d44848;
                }

                &__form{
                    display: flex;
                    flex-direction: column;
                    padding-right: 20px;
                    padding-left:20px;

                    .form__input{
                        font-size: 19px;
                        border:none;
                        border-bottom:1px solid #DBDBDB;
                        background: transparent;
                        padding-left:5px;
                        color: #fff;
                        margin-bottom: 20px;
                        outline: none;
                    }

                    .input-btn{
                        border: 1px solid #DBDBDB;
                        border-radius: 3px;
                        padding-left:6px;
                        transition: background .3s;
                        margin-bottom: 5px;
                        padding-top:10px;
                        padding-bottom: 10px;
                        cursor: pointer;
                        text-align: center;

                        &:hover{
                            background-color: #DBDBDB;
                            transition: background .3s;
                        }
                    }
                }
            }

            .login{
                position: absolute;
                right: 60px;
                color: #fff;
                margin-top: 160px;

                a{
                    color:#fff;
                    text-decoration: none;
                }

                &__title{
                    font-family: 'Chakra Petch', sans-serif;
                    font-weight: 300px;
                    letter-spacing: .1em
                }

                .form__error{
                    color: #d44848;
                }

                &__form{
                    display: flex;
                    flex-direction: column;
                    padding-right: 20px;
                    padding-left:20px;

                    .form__input{
                        font-size: 19px;
                        border:none;
                        border-bottom:1px solid #DBDBDB;
                        background: transparent;
                        padding-left:5px;
                        color: #fff;
                        margin-bottom: 20px;
                        outline: none;
                    }

                    

                    .input-btn{
                        border: 1px solid #DBDBDB;
                        border-radius: 3px;
                        padding-left:6px;
                        transition: background .3s;
                        margin-bottom: 5px;
                        padding-top:10px;
                        padding-bottom: 10px;
                        cursor: pointer;

                        &:hover{
                            background-color: #DBDBDB;
                            transition: background .3s;
                        }
                    }
                }
            }
        }
    }

    .loading{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        text-align: center;
        background-color: #00000080;

        &__text{
            margin-top:35%;
            text-align: center;
            color: #fff;
        }
    }
}