<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/authorization/style.css">
        <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <title>HIDE</title>
    </head>
    <body>
        <span id="key" data-key="{{ generic_key }}"></span>
        <section class="authorization">
            <div class="content">
                <h1 class="content__title">ADIABATIC ROOM</h1>
                <div class="content__logo">
                    <img src="../static/img/logo.svg" alt="adiabatic">
                </div>
                <div class="content__text">
                    <p>A chat that does not involve the transfer of message or data into or out of a system</p>
                </div>
            </div>
            <div id="authorization__field" class="authorization__field"></div>
        </section>
        <div class="loading" id="loading"></div>
    </body>
    <script src="../static/js/authorization/bundle.js"></script>
</html>