<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../static/css/room/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kelly+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Adiabatic room</title>
</head>
<body>
    <span id="key" data-key="{{ generic_key }}"></span>
    <section class="room">
        <div class="room__list-rooms" id="rooms"></div>
        <div class="chat">
            <div class="chat__header" id="chat-header"></div>
            <div class="chat__messages" id="messages"></div>
            <div class="chat__send" id="send"></div>
        </div>
    </section>
    <div class="settings" id="settings-room" style="display:none"></div>
    <div class="settings" id="settings-key" style="display:none"></div>
    <script src="../static/js/room/bundle.js"></script>
</body>
</html>